<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>readsack reads</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="frame">
        <div class="chips" id="chips">

        </div>
        <div class="tabs">
            <div class="tab" data-chip="Home" data-current>
                <div class="item">Hi I'm <div class="yellow">readsack</div>
                </div>
                <div class="item">I'm a guy who likes to build <div class="yellow">cool</div> things</div>
                <div class="item">I like experimenting with tech and programming.</div>
                <div class="item">My hobbies, besides programming, are watching <div class="yellow">anime</div>, reading
                    <div class="yellow">literature</div> and watching great <div class="yellow">cinema</div>
                </div>
                <div class="item">Checkout my Github At <div class="yellow"><a
                            href="http://github.com/readsack">readsack</a></div>
                </div>
                <div class="item">DM me on discord at <div class="yellow">@_readsack</div>
                </div>

            </div>
            <div class="tab" data-chip="About">
                <div class="item">Let's talk about me!</div>
                <div class="item">As a programmer, I'm a fan of <div class="yellow">simplicity</div>. I don't like using
                    a lot of abstractions or frameworks.</div>
                <div class="item"> According to me, keeping things <div class="yellow">simple</div> is the best way to
                    program software.</div>
                <div class="item">I also do <div class="yellow">competitive programming</div> in C++. Hopefully, I will
                    qualify for my country's <div class="yellow">IOI</div> team next year.</div>
                <div class="item">Besides programming, I also like reading books. I read both fiction and non-fiction.
                </div>
                <div class="item"> My favorite genre in fiction is <div class="yellow">mysticism</div>. My favorite
                    fiction author is Paulo Coelho. </div>
                <div class="item">I also read a lot of <div class="yellow">classical</div> authors like Oscar Wilde,
                    Fyodor Dostoevsky and Charles Dickens.</div>
                <div class="item">I also tend to enjoy good fiction in all forms, be it anime or be it movies.</div>
                <div class="item">My favorite anime would be <div class="yellow">Anohana</div>
                </div>
                <div class="item">My favorite movie(s) would be the <div class="yellow">Godfather Trilogy</div>
                </div>
                <div class="item">If you share any similar interests, hit me up! I'd love to talk</div>
            </div>
            <div class="tab" data-chip="Blogs">
                <div class="item">I like writing down my observations or thoughts, regarding everything.</div>
                <div class="item">Here are some of them!</div>
                <div class="sep"></div>
                <div class="item blog-holder">
                    <div class="blogs">
                        {{range .Blogs}}

                        <div class="blog" data-click="{{.Filename}}">

                            <div class="blog-title">{{.Title}}</div>
                            <div class="blog-date">{{.Date}}</div>
                        </div>
                        {{end}}
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="script.js" defer>

    </script>
</body>

</html>